/* reset css */
*{
    margin: 0;
    padding: 0;
}
.menu body{
    font-family: sans-serif;
}
.menu ul{
    list-style-type: none;  /*xóa dấu chấm đầu dòng*/
    background: linear-gradient(0deg, rgb(5, 162, 253), rgb(254, 254, 255));
    text-align: left;
}
.menu li{
    display: inline-table;  /*chuyển về hàng ngang*/
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.menu a{
    color: black;
    text-decoration: none;  /*xóa dấu gạch chân*/
    display: block;
}
.menu a:hover{
    background: white;
}
h1{
    color: rgb(5, 162, 253);
    font-size: 1cm;
}
p{
    color: rgb(5, 162, 253);
    text-align: center;
    font-size: 1cm;
}



.div0{
    max-width: 600px;
    text-align: center;
;
}
.div1{
    max-width: 600px;
    display:inline-block;
    border-color: antiquewhite;   
    border-width: 3px;	
     border-style: solid;
}
.div2{
    max-width: 600px;
    display:inline-block;
    border-color: antiquewhite;   
    border-width: 3px;	
     border-style: solid;
}